@import "reset.scss";
@import "compass/css3";
@import "variables.scss";
@import "functions.scss";
@import "mixins.scss";

/*
*,
*:before,
*:after {
  @include box-sizing(border-box);
}
*/

html,
body,
#wrapper {
  height: 100%;
}

html {
  font-size: 10px;
}

body {
  background-color: $blue-light;
  color: $white;
  font-family: 'Lato', sans-serif;
  @include rem(font-size, 1.6);
  line-height: 1.5;
}

#wrapper {
  margin: 0 auto;
  position: relative;
  width: 320px;
}

button {
  @include appearance(none);
  background-color: $blue-light;
  border: none;
  color: $blue-dark;
  @include rem(font-size, 1.6);
  line-height: 1;
  @include rem(height, 4.8);
  margin: 0;
  padding: 0;
  width: 100%;

  &:hover {
    background-color: $blue-dark;
    color: $blue-light;
    cursor: pointer;
  }
}

nav {
  @include rem(margin, 2.4, 0, 4.8);
}

nav ul {
  overflow: auto;

  li {
    background-color: $blue-dark;
    border-bottom: 1px solid $blue-dark;
    border-right: 1px solid $blue-dark;
    border-top: 1px solid $blue-dark;
    @include box-sizing(border-box);
    color: $blue-light;
    float: left;
    @include rem(padding, 1.2, 0);
    text-align: center;
    @include rem(width, 12);

    &:first-child {
      border-left: 1px solid $blue-dark;
      padding: 0;
      @include rem(width, 8);
    }
  }

  &.user-1 li:nth-child(2) {
    background-color: $red-light;
    color: $red-dark;
  }

  &.user-2 li:last-child {
    background-color: $yellow-light;
    color: $yellow-dark;
  }
}

#game-board {
  overflow: auto;

  &> li {
    background-color: $blue-light;
    cursor: pointer;
    float: left;
    @include rem(width, 4);

    &:hover {
      background-color: $blue-dark-transparent;

      li.user-1 {
        background-color: $red-dark;
      }

      li.user-2 {
        background-color: $yellow-dark;
      }
    }

    ul li {
      border-bottom: 1px solid $blue-dark;
      border-right: 1px solid $blue-dark;
      @include box-sizing(border-box);
      @include rem(height, 4);

      &:first-child {
        border-top: 1px solid $blue-dark;
      }

      &.user-1 {
        background-color: $red-light;
      }

      &.user-2 {
        background-color: $yellow-light;
      }
    }

    &:first-child ul li {
      border-left: 1px solid $blue-dark;
    }
  }
}

#overlay {
  background-color: $blue-dark-transparent;
  height: 100%;
  position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
  text-align: center;
  width: 100%;
  z-index: 2;

  .inner {
    @include rem(margin-top, -6);
    position: relative;
      top: 50%;
  }

  button {
    border: 1px solid $blue-dark;
    @include rem(padding, 1.2, 2.4);
    @include rem(margin-top, 2.4);
    line-height: 1;
    width: auto;
  }
}

@media screen and (min-width: 480px) {
  #wrapper {
    width: 480px;
  }

  nav ul li {
    @include rem(width, 18);

    &:first-child {
      @include rem(width, 12);
    }
  }

  #game-board > li {
    @include rem(width, 6);

    ul li {
      @include rem(height, 6);
    }
  }
}

@media screen and (min-width: 640px) {
  #wrapper {
    width: 640px;
  }

  nav ul li {
    @include rem(width, 24);

    &:first-child {
      @include rem(width, 16);
    }
  }

  #game-board > li {
    @include rem(width, 8);

    ul li {
      @include rem(height, 8);
    }
  }
}

/*
@media screen and (min-width: 768px) {
  #wrapper {
    width: 768px;
  }

  nav ul li {
    @include rem(width, 28.8);

    &:first-child {
      @include rem(width, 19.2);
    }
  }

  #game-board > li {
    @include rem(width, 9.6);

    ul li {
      @include rem(height, 9.6);
    }
  }
}

@media screen and (min-width: 1024px) {

}
*/