@import "reset.scss";
@import "compass/css3";
@import "variables.scss";
@import "functions.scss";
@import "mixins.scss";

$blue-light: #2b79ce;
$blue-dark: #1b4f98;

*,
*:before,
*:after {
  @include box-sizing(border-box);
}

html {
  font-size: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
}

#wrapper {
  margin: 0 auto;
  position: relative;
  width: 800px;
}

p {
  font-weight: bold;

  &.user-1 {
    color: red;
  }

  &.user-2 {
    color: yellow;
  }
}

button {
  @include appearance(none);
  background-color: green;
  border: 1px solid green;
  color: #fff;
}

#game-board {
  @include rem(margin, 2, 0);
  overflow: auto;

  &> li {
    background-color: $blue-light;
    border-right: 1px solid $blue-dark;
    cursor: pointer;
    float: left;
    width: 12.5%;

    &:first-child {
      border-left: 1px solid $blue-dark;
    }

    &:hover {
      background-color: $blue-dark;
    }

    ul li {
      border-bottom: 1px solid $blue-dark;
      height: 100px;

      &:first-child {
        border-top: 1px solid $blue-dark;
      }

      // &.user-0 {
      //   background-color: #fff;
      // }

      &.user-1 {
        background-color: red;
      }

      &.user-2 {
        background-color: yellow;
      }
    }
  }
}

#overlay {
  background-color: rgba(255,255,255,0.6);
  position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
  z-index: 2;
}