@import "reset.scss";
@import "compass/css3";

*,
*:before,
*:after {
  @include box-sizing(border-box);
}

html {
  font-size: 100%;
}

body {
  line-height: 1.5;
}

#wrapper {
  margin: 0 auto;
  position: relative;
  width: 800px;
}

p {
  &.user-1 {
    color: red;
  }

  &.user-2 {
    color: yellow;
  }
}

button {
  @include appearance(none);
  background-color: green;
  border: 1px solid green;
  color: #fff;
}

#game-board {
  &> li {
    cursor: pointer;
    float: left;

    &:hover {
      background-color: #ddd;
    }

    ul li {
      border: 1px solid #eee;
      height: 100px;
      width: 100px;

      // &.user-0 {
      //   background-color: #fff;
      // }

      &.user-1 {
        background-color: red;
      }

      &.user-2 {
        background-color: yellow;
      }
    }
  }
}

#overlay {
  background-color: rgba(255,255,255,0.6);
  position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
  z-index: 2;
}